%body
  - if object.errors.any?
    %section#errors
      %header
        %h2
          Oops! The #{object.class.name.humanize.downcase} could not be saved.
        %h3
          Please correct the following #{pluralize(object.errors.count, "error")}:
      %ul
        - object.errors.full_messages.each do |message|
          %li= message
