%aside#sidebar
  %nav
    %ul
      %li.all-movies
        = link_to 'All Movies', movies_path, class: 'button'
      %li.create-movie
        = link_to 'Add New Movie', new_movie_path, class: 'button'
